.about__title {
  font-family: YesteryearRegular;
  font-size: 3.6em;
}

.about {
  display: flex;
  justify-content: center;
}

.about {
  height: 100vh;
}
.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px 0;
  width: 1100px;
}
.about__title {
  color: #eaaa64;
  padding-bottom: 50px;
  margin-left: 50%;
  transform: translateX(-65%);
  width: 50%;
}
.about__block {
  display: flex;
  justify-content: space-between;
}
.about__text {
  width: 51%;
}
.about__description {
  font-family: RalewayMedium;
  color: #270000;
  line-height: 2;
  padding-bottom: 45px;
  text-align: center;
}
.about__img {
  height: 600px;
}