@font-face {
  font-family: "RalewayMedium";
  src: url("/fonts/RalewayMedium.ttf");
}
@font-face {
  font-family: "VollkornRegular";
  src: url("/fonts/VollkornRegular.ttf");
}
@font-face {
  font-family: "YesteryearRegular";
  src: url("/fonts/YesteryearRegular.ttf");
}