$main-color: rgb(234, 170, 100);
$light-black-text: rgb(39, 0, 0);
$blue-background: rgb(28, 25, 42);

$section-width: 1000px;

%title-style {
	font-family: YesteryearRegular;
	font-size: 3.6em;
}

%section-style {
	display: flex;
	justify-content: center;
}

%subtitle-descr-style {
	text-align: center;
	margin: 25px 0 70px;
	width: 650px;
}

%contact-description {
	font-family: RalewayMedium;
	font-size: 0.85em;
	line-height: 1.4;
}

%contact-info {
	font-size: 0.85em;
}