@import 'general';

.about {
	height: 100vh;
	@extend %section-style;
	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 40px 0;
		width: $section-width;
	}
	&__title {
		color: $main-color;
		padding-bottom: 50px;
		margin-left: 50%;
		transform: translateX(-65%);
		width: 50%; 
		@extend %title-style;
	}
	&__block {
		display: flex;
		justify-content: space-between;
	}
	&__text {
		width: 51%;
	}
	&__description { 
		font-family: RalewayMedium;
		color: $light-black-text;
		line-height: 1.8;
		padding-bottom: 35px;
		text-align: center;
	}
	&__img {
		height: auto;
		width: 355px;
	}
}

.special {
	@extend %section-style;
	background-image: url(/img/specialities.jpg);
	background-size: 100%;
	padding: 70px 0;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: $section-width;
	}
	&__title {
		color: white;
		@extend %title-style;
	}
	&__description {
		color: white;
		line-height: 1.5;
		margin: 25px 0 70px;
		text-align: center;
		width: $subtitle-desc-width;
	}
	&__box {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}
.box {
	&__dish {
		display: flex;
		flex-direction: column;
	}
	&__img {
		width: 220px;
	}
	&__caption {
		background-color: white;
		color: $light-black-text;
		padding: 18px; 
	}
}
