.menu__title {
  font-family: YesteryearRegular;
  font-size: 3.6em; }

.menu {
  display: flex;
  justify-content: center; }

.menu__description {
  text-align: center;
  margin: 25px 0 70px;
  width: 650px; }

.menu {
  background-color: #1c192a;
  padding: 70px 0; }
  .menu__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px; }
  .menu__title {
    color: #eaaa64; }
  .menu__description {
    color: white;
    margin-bottom: 0; }
  .menu__subtitle {
    color: #eaaa64;
    font-family: RalewayMedium;
    font-size: 1.6em;
    margin: 70px 0 35px; }
  .menu__section {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .menu__column {
    width: 460px; }
  .menu__item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 35px; }
  .menu__button {
    background-color: #eaaa64;
    border: 1px solid #eaaa64;
    color: #1c192a;
    font-family: RalewayMedium;
    padding: 18px 42px;
    margin-top: 70px; }
    .menu__button:hover {
      background-color: #1c192a;
      color: #eaaa64; }

.item__text {
  color: white;
  width: 330px; }

.item__title {
  font-family: RalewayMedium;
  margin-bottom: 10px; }

.item__description {
  font-size: 0.9em;
  line-height: 1.35; }

.item__price {
  color: #eaaa64;
  font-family: RalewayMedium;
  font-size: 2em;
  padding-bottom: 7px; }
