.special__title {
  font-family: YesteryearRegular;
  font-size: 3.6em; }

.special {
  display: flex;
  justify-content: center; }

.special {
  background-image: url(/img/specialities.jpg);
  background-size: 100%;
  padding: 70px 0; }
  .special__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px; }
  .special__title {
    color: white; }
  .special__description {
    color: white;
    line-height: 1.5;
    margin: 25px 0 70px;
    text-align: center;
    width: 650px; }
  .special__box {
    display: flex;
    justify-content: space-between;
    width: 100%; }

.box__dish {
  display: flex;
  flex-direction: column; }

.box__img {
  width: 220px; }

.box__caption {
  background-color: white;
  color: #270000;
  padding: 18px; }
