.contact {
	display: flex;
	justify-content: flex-end;
	position: relative;
	top: 25%;
	&__wrapper {
		background-color: $blue-background;
		box-sizing: border-box;
		padding: 28px;
		width: 355px;
	}
	&__title {
		font-size: 1.45em;
		color: $main-color;
	}
	&__description {
		@extend %contact-description;
		margin: 14px 0;
	}
	&__info {
		@extend %contact-info;
		margin: 7px 0;
	}
	&__map {
		border-bottom: 1px solid $main-color;
		color: $main-color;
		font-family: VollkornRegular;
		font-size: 1em;
	}
	&__button {
		padding: 9px;
	}
}